# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Build / Dist
# =========================
dist/
build/
.cache/
.tmp/
out/
coverage/

# =========================
# Local environment
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================
# Mac / Linux / Windows
# =========================
.DS_Store
Thumbs.db
